body {
    background-color: #3AAFA9 !important;
}
.container{
    max-width: 768px;
    border: 1px solid black;
    margin-top: 40px;
    padding: 0px !important;
    background-color: #def2f1;
}
h2{
 background-color: #17252a;
 padding: 30px;
 color: #feffff !important;
}
form{
    margin: 20px;
    padding: 10px;
}
.error{
 color: red;
 font-style: italic;
}