#body{
    background-color:#edc7b7;
}
.text-center{
    font-family: cursive;
}
.container{
    max-width: 575px;
    border: 1px solid ;
    border-radius: 15px;
    background-color: #eee3dc;
    padding: 20px;
    margin-top: 50px;
}
li{
    /* border: 1px solid; */
    padding: 10px;
    text-align: left;
    margin-bottom: 10px;
    background-color: #d8d7d7;
    color:#123c69;
    font-weight: bolder;
}
li button{
    float: right;
    background: transparent;
    border: 0;
}
form{
    background: white;
    margin: 20px 15px;
    border: 1px solid
}
#inputvalue{
    width: 80%;
    border: 0;
    padding:0 15px;
}
#inputvalue:focus{
    outline: none;
}
#submit{
    width: 19%;
    background: black;
    color: white;
    border: 0;
    margin-right: -2px;
    padding: 7px;
}
#error{
    color: red;
    padding-top: 10px ;
}